/* General styles */
.dashboard-container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  margin: 0 auto;
  padding: 16px; /* Reduced padding */
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Reduced box shadow */
}

/* For larger screens */
@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
}

.dashboard-sidebar {
  flex: 0.8;
  margin-bottom: 16px; /* Reduced margin */
  position: sticky;
  top: 16px; /* Reduced top distance */
  height: auto;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 8px;
  width: 50%;
}

.dashboard-content {
  flex: 2;
  padding-left: 16px; /* Reduced padding */
  border-left: 1px solid #ddd;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

@media (max-width: 767px) {
  .dashboard-content {
    padding-left: 0;
    border-left: none;
  }
}

.sidebar-title {
  font-size: 18px; /* Reduced font size */
  margin-bottom: 8px; /* Reduced margin */
  position: sticky;
  top: 16px;
  padding: 8px; /* Reduced padding */
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px; /* Reduced padding */
  border-bottom: 1px solid #ddd;
}

.event-item span {
  cursor: pointer;
}

.edit-event-input,
.add-event-input {
  flex: 1;
  padding: 6px; /* Reduced padding */
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Reduced font size */
}

.update-event-button,
.add-event-button,
.delete-event-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px; /* Reduced padding */
  cursor: pointer;
  font-size: 12px; /* Reduced font size */
  margin-left: 5px;
}

.update-event-button:hover,
.add-event-button:hover,
.delete-event-button:hover {
  background-color: #2980b9;
}

.export-button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px; /* Reduced padding */
  cursor: pointer;
  font-size: 12px; /* Reduced font size */
  text-decoration: none;
  position: sticky;
  top: 16px;
  z-index: 1;
  margin-top: 10px;
}

.export-button:hover {
  background-color: #27ae60;
}

.event-details-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px; /* Reduced font size */
  margin-top: 16px; /* Reduced margin */
  position: sticky;
  background-color: #f5f5f5;
  padding: 8px; /* Reduced padding */
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

.donation-form {
  margin-top: 16px; /* Reduced margin */
  position: sticky;
  top: 16px;
  z-index: 1;
  background-color: #fff;
  padding: 8px; /* Reduced padding */
  border-radius: 4px;
}

.form-input {
  padding: 6px; /* Reduced padding */
  margin-right: 8px; /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px; /* Reduced font size */
}

.donation-submit-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px; /* Reduced padding */
  cursor: pointer;
  font-size: 14px; /* Reduced font size */
  margin-top: 10px;
}

.donation-submit-button:hover {
  background-color: #2980b9;
}

.donations-table {
  width: 100%;
  margin-top: 14px; /* Reduced margin */
  border-collapse: collapse;
}

.donations-table th,
.donations-table td {
  border: 1px solid #ddd;
  padding: 4px; /* Reduced padding */
  text-align: left;
}

.donation-row:hover {
  background-color: #f2f2f2;
}

.donor-name,
.donation-amount {
  min-width: 120px; /* Reduced min-width */
}

.donation-actions {
  min-width: 100px; /* Reduced min-width */
  display: flex;
  align-items: center;
}

.edit-donation-button,
.update-donation-button,
.delete-donation-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 6px; /* Reduced padding */
  margin-right: 5px;
  cursor: pointer;
}

.edit-donation-button:hover,
.update-donation-button:hover,
.delete-donation-button:hover {
  background-color: #2980b9;
}

/* Media Queries for Smaller Screens */
@media (max-width: 767px) {
  .dashboard-sidebar {
    position: relative;
    top: 0;
    height: auto;
    margin-right: 0;
  }

  .event-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .edit-event-input,
  .add-event-input {
    margin-right: 0;
    margin-bottom: 4px; /* Reduced margin */
  }

  .update-event-button,
  .add-event-button,
  .delete-event-button {
    margin-left: 0;
    margin-bottom: 4px; /* Reduced margin */
  }

  .donor-name,
  .donation-amount,
  .donation-actions {
    min-width: auto;
    width: 100%;
    text-align: left;
    margin-bottom: 4px; /* Reduced margin */
  }

  .donation-actions {
    justify-content: flex-start;
  }

  .edit-donation-button,
  .update-donation-button,
  .delete-donation-button {
    margin-right: 4px; /* Reduced margin */
  }
}
