/* App.css */
.logout-button-fixed {
  position: fixed;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button-fixed:hover {
  background-color: #0056b3;
}
